.CarouselWrapper {
  width: 1200px;
  height: 300px;
  background-color: rgba(236, 232, 232, 0.938);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.CarouselImageContainer {
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100px;
}

.CarouselMainWrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
}