.CarouselWrapper {
  width: 1250px;
  height: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.CarouselImageContainer {
  justify-content: center;
  max-width: 340px;
  max-height: 100px;
}