.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper input {
    width: 200px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    margin-left: 690px;
}

.save-address button a {
    margin-top: 20px;
    margin-left: 700px;
    width: 300px;
    height: 35px;
    font-size: small;
    font-weight: bold;
    color: aliceblue;
    background: green;
    border: 0;
    padding: 1px;
    border-radius: 25px;
}

.save-address button a:hover {
    background: rgb(0, 29, 0)
}

.input-text input {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    margin-top: 20px;
    background-color: rgb(148, 147, 147);
    color: black;
    border-radius: 25px;
}